spring:
  application:
    name: coupon-api
  datasource:
    url: jdbc:h2:mem:coupondb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  flyway:
    enabled: true
    baseline-on-migrate: true